.container {
    margin: 60px auto;
    max-width: 700px;
}

.container .banner {
    background-image: url('../banner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px; 
    display: flex;
    position: relative;
    border-radius: 10px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); 
    border-radius: 10px;
}

.banner h1 {
    font-size: 30px;
    font-weight: 400;
    margin: auto;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.classement {
    margin: 30px auto;
}

.classement table {
    border-collapse: separate;
    border-spacing: 0 6px;
    width: 100%;
    overflow: hidden;
}

.classement table tr th,
.classement table tr td {
    padding: 8px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.classement table tr td {
    height: 50px;
    background-color: #202020;
}

.classement table tr th:first-child,
.classement table tr td:first-child {
    text-align: left;
}

.classement table th:nth-child(2),
.classement table th:nth-child(3),
.classement table td:nth-child(2),
.classement table td:nth-child(3) {
    text-align: center;
}

.classement table .line td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.classement table .line td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.classement table .line td .rank {
    color: rgba(245, 245, 245, 0.63);
}

.defaultUsername {
    color: rgb(201, 201, 201)
}

.firstUsername {
    color: rgb(255, 196, 0);
    font-weight: bold;
    animation: firstUsername 1s infinite;
}

.secondUsername {
    color: rgb(255, 221, 108);
    font-weight: bold;
}

.thirdUsername {
    color: rgb(255, 238, 183);
    font-weight: bold;
}



@keyframes firstUsername {
    0% {
        color: rgb(255, 196, 0);
    }

    50% {
        color: rgb(255, 230, 0);
    }

    100% {
        color: rgb(255, 196, 0);
    }
}