.navbar {
  background-color: rgba(0, 0, 0, 0.123);
  padding: 10px;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid rgba(0, 110, 255, 0.103);
}

.navbar ul {
  height: 40px;
  align-items: center;
  list-style: none;
  width: 400px;
  margin-right: 50px;
  background-color: rgba(0, 255, 255, 0);
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-weight: 600;
  font-size: 17px;
  padding: 8px;
}

.navbar ul li a:hover {
  color: white;
}

.navbar ul li .active {
  color: white;
}